@media (max-width: 1280px){

    .container{
        margin: auto;
        max-width: 90%;
    }
    
    /* HERO */
    .hero-container{
        display: flex;
        padding-top: 10%;
        margin-bottom: -8%;
        flex-direction: column;
        align-items: stretch;
    }
    .hero-container > h1{
        color: white;
        font-size: 4.8em;
    }
    .hero-container > p{
        color: white;
        font-size: 1.8em;
    }
    .hero-container > img{
        z-index: 1;        
        position: relative;
    }
    #hero-form{
        z-index: 2;
        height: 140px;
        display: flex;
        position: relative;
        border-radius: 10px;
        flex-direction: column;
        background-color: white;
        justify-content: space-between;
    }
    .form-wrapper{
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    /* END HERO */

    #recomendations{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .recomendation{
        margin-bottom: 2em;
    }
    
    /* RECOMENDED */

}





@media (min-width: 1281px){

    .container{
        margin: auto;
        max-width: 1280px;
        margin-bottom: 5%;
    }
    
    /* HERO */
    #hero{
        display: none;
    }
    /* END HERO */
}