body{
    margin: 0;
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#hero{
    background-image: linear-gradient(#344BF1, #2DBBF9);
}

#user-mail{
    font-size: 1.5em;
    border: 1px solid gray;
    height: 2.5em;
    border-radius: 10px;
}