@media (max-width: 1280px) {

    .container{
        margin: auto;
        max-width: 90%;
        margin-bottom: 25%;
    }

    /* HERO */
    #hero-section{
        display: flex;
        flex-direction: column;
    }
    .container > p{
        max-width: 90%;
    }
    #cta{
        margin-left: 20px;
    }
    #cta-btn{
        width: 100%;
    }
    #hero-img{
        display: none;
    }
    /* END HERO */



    /* SOCIAL PROOF */
    #recognition{
        height: 64px;
        display: flex;
        margin-bottom: 10%;
        align-items: center;
    }
    #brand-logos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }#brand-logos > img{
        max-width: 25%;
    }
    /* END SOCIAL PROOF */



    /* COURSES */
    .course{
        margin-top: 15%;
    }
    /*END COURSES */
}




@media (min-width: 1281px) {

    .container{
        margin: auto;
        max-width: 1280px;
        margin-bottom: 5%;
    }

    /* HERO */
    #hero-section{
        margin-top: 10em;
    }
    .container{
        display: flex;
        justify-content: space-between;
    }
    #hero-wrapper{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    #hero-wrapper > h1{
        font-size: 5.6em;
    }
    #hero-wrapper > p{
        font-size: 2em;
        margin-top: -40px;
    }
    #cta{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    #hero-img{
        max-width: auto;
        height: 40em;
    }
    /* END HERO*/


    /* SOCIAL PROOF */
    #social-proof > div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-items: flex-start;
    }
    #recognition{
        display: flex;
        margin-bottom: 7.5%;
        align-items: center;
    }
    #brand-logos{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #brand-logos > img{
        max-width: 12%;
    } 
    /* END SOCIAL PROOF*/



    /* OBJECTIONS */
    #objections > .container{
        display: flex;
        flex-direction: column;
    }

    #objections-wrapper > div{
        max-width: 30%;
        margin-bottom: 3%;
    }

    #objections-wrapper{
        display: flex;   
        flex-wrap: wrap;   
        align-items: center;
        flex-direction: row;  
        justify-content: space-between;
    }
    /* END OBJECTIONS */



    /* COURSES */
    #courses > .container{
        display: flex;
        flex-direction: column  ;
    }

    #courses > .container > h2{
        font-size: 40px;
    }

    .courses-wrapper{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .course{
        margin-top: 3%;
        max-width: 45%;
    }
    .course-tittle{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .course-tittle > img{
        height: 5%;
        width: auto;
    }
    .course-tittle > h3{
        font-size: 32px;
    }
    /*END COURSES */
}